<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Partials</title>
</head>
<body>
    <nav th:fragment="navbar">
        <form th:action="@{/logout}" th:method="post">
            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
        </form>
    </nav>
    <header th:fragment="header">this is a header</header>
    <footer th:fragment="footer">this is a footer</footer>
</body>
</html>